extends layout.pug

block scripts  
    

block content
    .row
        .s12      
            .carousel
                a.carousel-item( href="#one!")
                    img(src="img/logo.png")
                a.carousel-item( href="#two!")
                    img(src="img/logo.png")
                a.carousel-item( href="#three!")
                    img(src="img/logo.png")
                a.carousel-item( href="#four!")
                    img(src="img/logo.png")
                a.carousel-item( href="#five!")
                    img(src="img/logo.png")

    .row
        .s12.center-align                
            p.flow-text Primeiro App com Cordova!
                blockquote Materialize