block variables
<!DOCTYPE html>
html(lang="en") 
    head
        title #{title}
        meta(charset="UTF-8")
        meta(name="viewport" ,content="width=device-width, initial-scale=1")        
        link(href="css/materialize.min.css" rel="stylesheet")
        link(href="css/index.css" rel="stylesheet")
        link(href="css/material_icons.css" rel="stylesheet")
        block styles

    body
        .navbar-fixed
            nav
                div.nav-wrapper.red.darken-4
                    a(href="#!", class="brand-logo") BVQC
                    a.button-collapse( href="#" data-activates="slide-out" )
                        i.material-icons menu                                
        ul.side-nav#slide-out
            li
                .user-view
                    .background.logo
                        img(src="img/login_screen_BV_ico.png")
      
                    a(href="#!user")
                        img.circle(src="img/avatar_2x.png")
                    a(href="#!name")
                        span.black-text.name Nome Usuario
                    a(href="#!email")
                        span.black-text.email fulanodetal@bv.com.br    
            li.no-padding
                ul.collapsible.collapsible-accordion
                    li
                        a.collapsible-header BVQC
                            i.material-icons arrow_drop_down
                        .collapsible-body
                            ul
                                li
                                    a( href="#!") Inspeções abertas
                                li
                                    a( href="#!") Usuarios
                                li
                                    a.subheader RELATÓRIOS:
                                li
                                    a( href="#!") Partes
                                li
                                    a( href="#!") Produtos
                                li
                                    a( href="#!") Inbound
                                li
                                    a( href="#!") Sales Return
            li.no-padding
                ul.collapsible.collapsible-accordion
                    li
                        a.collapsible-header Inspeções
                            i.material-icons arrow_drop_down
                        .collapsible-body
                            ul
                                li
                                    a.subheader INSPEÇÕES:
                                li
                                    a( href="#!") Partes
                                li
                                    a( href="#!") Produtos
                                li
                                    a( href="#!") Inbound
                                li
                                    a( href="#!") Sales Return
                                li
                                    a.subheader BVQC
                                li
                                    a( href="#!") Análise de Estoque
                                li
                                    a( href="#!") REV    
            li.no-padding
                ul.collapsible.collapsible-accordion
                    li
                        a.collapsible-header Cargas
                            i.material-icons arrow_drop_down
                        .collapsible-body
                            ul
                                li
                                    a.subheader CARGAS:
                                li
                                    a( href="#!") Partes
                                li
                                    a( href="#!") Produtos
                                li
                                    a( href="#!") Inbound
                                li
                                    a( href="#!") Sales Return
                                li
                                    a.subheader BVQC:
                                li
                                    a( href="#!") Relação PART/BIN                                
        block content            
            
        script(src="js/jquery.min.js")
        script(src="js/materialize.min.js")
        script(src="js/select2.min.js")
        script(src="js/jquery.form.min.js")
        script(src="js/index.js")
        block scripts