.modal.bottom-sheet#modalAlert
    .modal-content#alertContent
        h4 Aviso:
        p#alertMessage
    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn(href="#!") Fechar
