extends layout.pug

block variables
    - var title = "Bureau Veritas - Nova Rev"

block scripts  
    script(src="js/nova-rev.js" rel="textjavascript")

block content
    include loading-modal
    
    h5.center-align Inclusão de Rev

    .row
        .col.s12
            .row
                .input-field.col.s12                            
                    input#noDoc(type="text")
                    label(for="noDoc") No. Doc  
            .row
                .input-field.col.s12                            
                    input#item(type="text")
                    label(for="item") Item  
            .row
                .input-field.col.s12                            
                    input#dataEmissao.datepicker(type="text")
                    label(for="dataEmissao") Data Emissão Doc.  
            .row
                .input-field.col.s12                            
                    input#areaSolicitante(type="text")
                    label(for="areaSolicitante") Area Solicitante
            .row
                .input-field.col.s12                            
                    input#nomeSolicitante(type="text")
                    label(for="nomeSolicitante") Nome Solicitante

            .row
                .input-field.col.s12   
                    select#responsavel
                        option
                    label Responsável
            .row
                .input-field.col.s12                            
                    input#qa(type="text")
                    label(for="qa") Q&A

            .row
                .input-field.col.s12   
                    select#motivo
                        option
                    label Motivo
            .row
                .input-field.col.s12                            
                    input#notaFiscal(type="text")
                    label(for="notaFiscal") Nota Fiscal

            .row
                .input-field.col.s12                             
                    input#partNumber.autocomplete(type="text")
                    label(for="partNumber") Part No Doc.

            .row                        
                .input-field.col.s12 
                    input#pnDescricao.autocomplete(type="text")
                    label(for="pnDescricao") Descricao Pn Doc

            .row
                .input-field.col.s12                            
                    input#quantidade(type="number")
                    label(for="quantidade") Quantidade
        form#form(action='http://localhost:8080/services/rev/anexo', encType="multipart/form-data" , method="POST")
            .row
                .input-field.col.s12                            
                    label Anexo
                    .file-field.input-field
                        .btn
                            span Browse
                            input#anexo(type = "file", name="anexo")                                
                        .file-path-wrapper
                            input#nomeAnexo.file-path.validate(type = "text", placeholder = "Selecione um PDF")
                        
    
    .row.center-align
        a#salvar.waves-effect.waves-light.btn Salvar
            i.material-icons.left save
                    
                                                            
                    